@model QLPhongKhachSan.Models.DatPhong


<div class="check_availability-field">
    <label>NGÀY ĐẾN</label>
    <div class="input-group date" data-date-format="dd-mm-yyyy" id="datepicker1">
        @Html.TextBoxFor(q => q.TuNgay, new { required = "true", @class = "form-control wrap-box", placeholder = "Ngày đến", Value = Model.TuNgay?.ToString("dd-MM-yyyy") })
        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
    </div>
</div>
<div class="check_availability-field">
    <label>NGÀY ĐI</label>
    <div class="input-group date" data-date-format="dd-mm-yyyy" id="datepicker2">
        @Html.TextBoxFor(q => q.DenNgay, new { required = "true", @class = "form-control wrap-box", placeholder = "Ngày đi", Value = Model.DenNgay?.ToString("dd-MM-yyyy") })
        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
    </div>
</div>
<div class="check_availability-field">
    <label>SỐ NGƯỜI</label>
    <div class="input-group date">
        @Html.TextBoxFor(q => q.SoNguoi, new { required = "true", @class = "form-control wrap-box", type = "number", min = "1", placeholder = "Số nguời" })
        <span class="input-group-addon"><i class="fa fa-discourse" aria-hidden="true"></i></span>
    </div>
</div>

<div class="error-list">
    <hr />
    <p>Quý khách vui lòng kiểm tra lại</p>
    <ol id="error"></ol>
</div>